body{
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

h1{
    text-align: center;
    letter-spacing: 5px;
}

h2{
    color:rgb(116, 202, 30);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 236, 236);
}

#titulo_1{
    color: rgb(95, 180, 16);
}

#titulo_2, h3{
    color: rgb(197, 129, 51);
}

.info{
    border: 2px solid rgb(236, 236, 236);
    margin: 15px;
    margin-left: 140px;
    padding: 15px;
} 

html{
    background-color: rgb(202, 202, 202);
}

ul{
    float:left;
    margin-left: -30px;
}

li{
    background-color: rgb(202, 255, 123);
    border: 2px solid rgb(236, 236, 236);
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    margin-left: 0;
    padding: 10px;
    width: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.actual, li:hover {
    background-color: rgb(250, 169, 140);
}