@import url(https://fonts.googleapis.com/css2?family=Courgette);

body{
    color:olivedrab;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large;
    background-color:beige;
}